name: AWS

on:
  push:
    branches:
      - 'master'
      - 'develop'

env:
  AWS_DEFAULT_OUTPUT: json
  AWS_REGION: eu-central-1

jobs:
  deploy:
    name: Run CloudFormation
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Resources
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: Resources 
        template: resources.yml
        no-fail-on-empty-changeset: "1"
        parameter-overrides: file:///params.json
